.container{
  display: inline-block;
  text-align: center;
  align-self: center;
}
.timings{
  display: inline-block;
  margin: 20px;
  color: rgb(19, 18, 18);

}
.primary-button{
  border: 0;
  border-radius: 2px;
  background-color: #007abc;
  color:#fff;
  text-transform: uppercase;
  font-family: Noto Sans,sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 14px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  box-shadow: 1px 1px 4px #A9A9A9;
}
.stop-button{
  margin: 40px;
  display: inline-block;
  
}